html, body { 
  margin: 0;
  background: black;
}
section {
  height: 100svh;
  display: grid;
  place-content: center;
}
h2 {
  font-family: 'HACKED', sans-serif;
  font-size: 20vw;
  color: white;
}
img {
  position: absolute;
  width: 100%;
  height: 300svh;
  object-fit: cover;
  opacity: 0.15;
}
